
/*js toggled classes*/
.hidden{
	display: none;
}

.correct{
	background-color: #5cb85c;
	color: white;
  font-weight: bold;
  border-radius: .25em;
}

#submit{
	float: right;
}

#no-answer-alert{
	clear: both;
	bottom: 0px;
	display: none;
}

.container{
	max-height: 600px;
}

.jumbotron{
	text-align: center;
	background-color: #bc6733;
	color: white;
}

#start-title{
	width: 100%;
}

hr {
	width: 5%;
}


#quiz-container{
	background-color: #3388bc;
	height: 500px;
	border-radius: 5px;
	padding: 5%;
	position: relative;
	width: 100%;
}

button {
	height: 50px;
	width: 20%;
	margin-top: 50px;
}

#no-answer-alert{
	bottom: 0%;
	position: absolute;
	width: 87%;
	margin-left: auto;
	margin-right: auto;
}